.account {
    padding-top: 50px;
    text-align: center;
  }

  .info {
    padding: 40px;
    min-height: 330px;
    margin-top: 30px;
    border-radius: 20px;
}

.about {
    background: rgb(236, 216, 216);
    color: #332c2c;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.08);
    min-height: 330px;
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}

  .preferences {
    background: rgb(179, 211, 221);
    color: #332c2c;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.08);
    padding: 40px;
    min-height: 330px;
    margin-top: 30px;
    margin-right: 10px;
}

.texts {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cards {
    color: #332c2c;
    border-radius: 20px;
    padding: 40px;
    min-height: 330px;
    margin-top: 30px;
    margin-right: 10px;
}

.accent {
    line-height: 14px;
    font-size: 30px;
    color: rgb(43, 119, 196);
    padding-bottom: 50px;
}

.bottom {
    height: 100px;
}

