body {
    text-align: center;
  }
  
  .create {
  padding-top: 50px;
  
  }
  
  .crea {
    margin: 0 auto;
    background: rgb(255, 245, 248);
    border: 1px solid rgb(150, 150, 150);
    width: 60%;
    min-height: 330px;
    padding: 10px;
  }

  